---
layout: default
permalink: /projects/index.html
title: Projects
---
{% include header.html %}

<section class="home__sections">
  <h1>A Few of My Projects</h1>
  {% for post in site.posts %}
    {% if post.projects %}
      <div class="home__sections-single {% if post.star == true %}star{% endif %}">
        <img src="{{ post.img }}" alt="Project Image" />
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
      </div>
    {% endif %}
  {% endfor %}
</section>

{% include footer.html %}


