---
layout: default
permalink: /projects/index.html
title: Projects
---
<header class="home__header">
  <h1>Projects</h1>
  <h2>A small sample of current and past projects</h2>
</header>

{% include nav.html %}

<section class="home__sections">
  {% for post in site.posts %}
    {% if post.projects %}
      <div class="project home__sections-single {% if post.star == true %}star{% endif %}">
        <img src="{{ post.img }}" alt="Project Image" />
        <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
        <p>{{ post.description }}</p>
        <p>Technologies Used: {{ post.technology }}</p>
        <br />
        <br />
      </div>
    {% endif %}
  {% endfor %}
</section>

<h4 style="text-align: center;"><a href="mailto:zachzimbler@gmail.com">Hire Me</a></h4>

{% include footer.html %}


